@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    /* need to enable these 2 themes to use in data-theme attribute */
    dark --prefersdark,
    emerald;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
